.sent{
    position: absolute;
    border-radius: 10px black;
    box-shadow: 10px gray;
    border: black;
    left: 32.5%;
    top: 25%;
    width: 1000px;
    height: 1000px;
    border-color: black;
}
span{
    position: absolute;
    left: 20%;
    
}
.sent-img{
    position: absolute;
    left: 20%;
    top: 0%;
}
.text-sent{
    position: relative;
    top: 20%;
    width: 1000px;
    height: 1000px;
}
.back{
    position: absolute;
    left: 20%;
    top:35%;
}